<mat-card class="mat-card">
    <div>{{constants.filters}}</div>
    <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Fruit selection">
            <span *ngFor="let filter of filters">
                <mat-chip *ngIf="filter?.isSelected" (removed)="removeFilter(filter)">
                    {{filter.name}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </span>
        </mat-chip-list>
    </mat-form-field>
    <button class="apply-button" (click)="applyFilter.emit(true)" mat-raised-button>{{constants.apply}}</button>
</mat-card>