.dashboard-wrapper{
    // display: flex;
    // justify-content: center;
    // .products-wrapper{
    //     padding-left: 10%;
    // }
    .filter-selection-wrapper{        
        width: 80%;
        margin: auto;
        text-align: center;
    }
}
