.dropdown-wrapper{
    .dropdown-menu{
        border: 1px solid;
        padding: 10px;
        margin: 0px;
        list-style-type: none;                    
    .list-item{
        cursor: pointer;
        padding-top: 10px;
        } 
    }          
}
