.dropdown-wrapper{
    .dropdown-menu{
        border: 1px solid;
        padding: 10px;
        list-style-type: none;   
        width: 150px;
        text-align: initial;
        margin: auto;                 
    .list-item{
        cursor: pointer;
        padding-top: 10px;
        } 
    }          
}
