.wrapper-card{
    height: 120px;
    .user-card-wrapper{
        display: flex;
        justify-content: center;
        .user-card{
            padding: 20px;
            margin: 0px!important;
        }
    }
}